<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.example.battery.mapper.CarMapper">
    <insert id="save" parameterType="org.example.battery.entity.Car" >
        insert into car (vid,type,mile,percent) values (#{vid},#{type},#{mile},#{percent});
    </insert>
    <select id="selectByCarId" resultType="org.example.battery.entity.Car">
        select * from car where car_id = #{carId};
    </select>
</mapper>
